.App {
    padding: 30px;
    background-color: dimgrey;
    text-align: center;
    height: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App input {
    height: 30px;
    border-radius: 3px;
}
.App button {
    margin: 20px;
    height: 50px;
    border-radius: 3px;
}
.inline {
    display: inline;
    margin-right: 20px;
    padding: 20px;
}

.inline-size {
    display: inline;
    font-size: 1.2rem;
}
.container {
    padding: 10px;
}
footer {
    margin-top: 150px;
}
.box {
    background-color:#969fab;
}